.header {
    background-color: azure;
    width: 100%;
}
.hamburger-container .img {
    width: 2rem;
    height: 2rem;
}
.header-section {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}
.section-one {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(7, 1fr);
}
.section-two {
    margin-bottom: 4rem;
    /* height: 60vh; */
}
.section-three {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;
/* margin-bottom: 3rem; */
} 
.section-three_img {
    width: 30vw;
    height: 70vh;
}
.potrait {
    width: 100%;
} 
.section-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    margin-top: 8rem;
}
.section-four_img {
    width: 35vw;
    height: 35vh;
}